.modal {
    .cove {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition-property:opacity; 
        -moz-transition-property: opacity; /* Firefox 4 */ 
        -webkit-transition-property:opacity; /* Safari and Chrome */ 
        -o-transition-property:opacity; /* Opera */ 
        display: table;
        text-align: center;
        
        .wrap {
            display: table-cell;
            vertical-align: middle;
        }

        &.coveshow {
          opacity: 1;
          visibility: visible;
        }
    }

    .content {
        position: relative;
        display: inline-block;
        transition-property:transform; 
        -moz-transition-property: transform; /* Firefox 4 */ 
        -webkit-transition-property:transform; /* Safari and Chrome */ 
        -o-transition-property:transform; /* Opera */ 
    }

    .animatezoom {
        .content {
            transform: scale3d(0, 0, 0);
        }
        &.coveshow {
            .content {
                transform: scale3d(1, 1, 1);
            }
          }
    }

    .animateleft {
        .content {
            transform: translateX(-80em);
        }
        &.coveshow {
            .content {
              transform: translateX(0);
            }
          }
    }

    .animateright {
        .content {
            transform: translateX(80em);
        }
        &.coveshow {
            .content {
              transform: translateX(0);
            }
          }
    }

    .animatetop {
        .content {
            transform: translateY(-80em);
        }
        &.coveshow {
            .content {
              transform: translateY(0);
            }
          }
    }

    .animatebottom {
        .content {
            transform: translateY(80em);
        }
        &.coveshow {
            .content {
              transform: translateY(0);
            }
          }
    }

    .modify {
        position: absolute;
        top: 0;
    }

    .modules {
        background-color: #fff;
        margin: 0 auto;
        position: relative;
    }

    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
    }
}
