.modal {
    .cove {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.4s;

        &.coveshow {
          opacity: 1;
          visibility: visible;

          .content {
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
          }
        }
    }

    .content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale3d(0, 0, 0);
        transition: transform 0.4s;
    }

    .modify {
        position: absolute;
        top: 0;
    }

    .modules {
        max-width: 95%;
        width: fixpx(600);
        background-color: #fff;
        margin: 0 auto;
        position: relative;
    }

    .left {
        text-align: left;
    }
    .center {
        text-align: center;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
    }
}
