.modal {
    .cove {
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        overflow: hidden;
    }

    .content {
        position: absolute;
        top: 40%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modify {
        position: absolute;
        top: 0;
    }

    .modules {
        max-width: 95%;
        background-color: #fff;
        margin: 0 auto;
        position: relative;
    }
}
